window {
	background: transparent;
}
revealer {
	background: rgba(0, 0, 0, 0.9);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
scale {
	margin: 0px;
	padding: 0px;
}
label {
	color: rgba(255, 255, 255, 0.5);
}

/* Horizontal layout */
scale.horizontal {
    padding: 0px;
}
scale.horizontal trough {
    border-radius: 10px;
    background: alpha(currentColor, 0.1);
}
scale.horizontal highlight {
    border-radius: 10px;
    min-height: 20px;
    background: alpha(@accent_bg_color, 0.75);
}
scale.horizontal slider {
    margin: 0px;
    background: transparent;
    box-shadow: none;
    padding: 0px;
}

/* Vertical layout */
scale.vertical {
    padding: 0px;
}
scale.vertical trough {
    border-radius: 10px;
    background: alpha(currentColor, 0.1);
}
scale.vertical highlight {
    border-radius: 10px;
    min-width: 20px;
    background: alpha(@accent_bg_color, 0.75);
}
scale.vertical slider {
    margin: 0px;
    background: transparent;
    box-shadow: none;
    padding: 0px;
}